<form method="POST" action="/posts">
  <p>Title:<input type="text" name="title"></p>
  <p>Author:<input type="text" name="author"></p>
  <p>Body:<input type="text" name="body"></p>
  <p><input type="submit"></p>
</form>
